#q {
  margin: 20px 0;
}

.footer {
  margin-top: 50px;
}

.small {
  font-size: 90%;
}

.text-danger a {
	color: red;
}

body {
  background-color: #FCFCFC;
}

/* less shadow on jumbotron */
body .well, body .jumbotron {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16), 0 1px 1px rgba(0, 0, 0, 0.23) !important;
}

/* icon are too big by default */
i {
  font-size: 100% !important;
}
